.navbar{
    position: fixed;
    top:0;
    width: 100%;
    height: 4rem;
    background-color: rgba(194, 217, 237, 0.3);
    z-index: 1;
}
.mask{
    width: 100%;
    height: 4rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.mask:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .9);
    filter: blur(10px);
    margin: -20px;
  }

.motto{
    line-height: 4rem;
    padding-left: 2rem;
    color: #666;
    font-style: italic;
    font-size: 1.3rem;
}
.motto::after{
    content: '\00000a I think, therefore I am';
    /* white-space: pre-wrap; */
    font-size: 1rem;
}
.entries{
    margin: 0 2rem;
    display: flex;
    width: 20%;
    float: right;
    flex-direction: row-reverse;
}

.entry{
    /* width: 10rem; */
    flex: 3;
    font-size: large;
    font-weight: 800;
    line-height: 4rem;
    display: block;
    padding: 0 0.5rem;
}

.entry-color{
    color: rgb(100, 100, 100)
}
.entry-color:hover{
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 0px 0px 15px rgb(120, 127, 220);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}