.wrapper{
    height: 2.5rem;
    margin: 1rem 0;
    display: flex;
}

.item{
    background-color: rgba(240, 240, 240, 0.5);
    flex: 1;
    text-align: center;
    line-height: 2.5rem;
    color: rgb(100,100,100);
}
.item:hover{
    background-color: rgb(234, 240, 250);
    cursor: pointer;
    color: black;
}

.chosen{
    background-color: rgb(234, 240, 250);
    color: black;
}