---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogList from "../components/BlogList.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const techPosts = posts.filter((p) => p.data.tag === "Tech");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .avatar-wrapper {
        margin-top: 50px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .avatar-image {
        width: 150px;
        height: 150px;
        border-radius: 100px;
        object-fit: cover;
      }

      h2 {
        text-align: center;
        font-weight: 700;
        color: var(--gray-dark);
      }
     
    </style>
  </head>
  <body>
    <Header />
    <main>
      <div class="avatar-wrapper">
        <img class="avatar-image" src="/profile_retep.png" />
      </div>
      <h2>Retep</h2>
      <BlogList posts={techPosts}/>
    </main>
    <Footer />
  </body>
</html>
