

<style>
  .avatar-wrapper {
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .avatar-image {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    object-fit: cover;
  }
  h2 {
    text-align: center;
    font-weight: 700;
    color: var(--gray-dark);
  }
</style>
<div class="avatar-wrapper">
  <img class="avatar-image" src="/profile_retep.png" />
</div>
<h2>Retep</h2>
