---
import FormattedDate from "./FormattedDate.astro";
interface Props {
  posts: any[];
}

const { posts } = Astro.props;
---

<div class="blogs-container">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`} class="blog-card">
            <div class="blog-info">
              <h4 class="title">{post.data.title}</h4>
              <div class="description-wrapper">
                <span class="description">{post.data.description}</span>
              </div>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
                <span class="language">{post.data.language === 'EN' ? 'English' : 'Chinese'}</span>
              </p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  h4 {
    font-size: 24px;
    font-weight: 400;
    color: rgb(0, 112, 243);
    display: inline;
    margin-bottom: 5px;
  }
  .blog-card {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 16px;
    transition: all ease 0.5s;
  }
  .description-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    opacity: 0;
    transition: all ease 0.5s;
  }

  .description {
    color: #999;
    opacity: 1;
    min-height: 0;
  }
  .blog-card:hover .description-wrapper {
    opacity: 1;
    grid-template-rows: 1fr;
  }
  .blog-card:hover {
    background-color: rgb(240, 240, 240);
  }
  .language{
    font-style: italic;
    color: #999;
  }
  p {
    margin: unset;
    color: #333;
  }
  ul {
    list-style: none;
  }
  .tabs {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .tab h3 {
    font-size: 24px;
    font-weight: 400;
  }
  .tab.selected {
    border-bottom: 1px solid #999;
  }

  .blog-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
