---
import FormattedDate from "./FormattedDate.astro";
interface Props {
  posts: any[];
}

const { posts } = Astro.props;
---

<div class="blogs-container">
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`} class="blog-card">
            <div class="blog-info">
              <h4 class="title">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.date} />
              </p>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style>
  h4 {
    font-size: 24px;
    font-weight: 400;
    color: rgb(0, 112, 243);
  }
  .blog-card {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 16px;
  }
  p {
    margin: unset;
    color: #333;
  }
  ul{
    list-style: none;
  }
  .tabs {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .tab h3 {
    font-size: 24px;
    font-weight: 400;
  }
  .tab.selected {
    border-bottom: 1px solid #999;
  }

  .blog-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
</style>
